<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<<<<<<< HEAD
<title>Remote_Login</title>
=======
<title>Form Style 8</title>
>>>>>>> 713aa8d394a220175a3ef057d2528bd5ea964aa6
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<script type="text/javascript">
//auto expand textarea
function adjust_textarea(h) {
    h.style.height = "45px";
    h.style.height = (h.scrollHeight)+"px";
}
</script>
<style>
body{
	background: #348A96;
}
.form-style{
	border-radius: 10px;
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style h2{
	background: #4D4D4D;
	border-radius: 10px 10px 0 0;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #34CACA;
	font-size: 36px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style input[type="password"],
.form-style textarea,
.form-style select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.form-style textarea{
	resize:none;
	overflow: hidden;
}
.form-style input[type="button"], 
.form-style input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.form-style input[type="button"]:hover, 
.form-style input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}
</style>
</head>

<body>
<<<<<<< HEAD
	<% include partials/header %>

<div class="form-style">
  <h2>Register your account</h2>
  <% include partials/messages %>
=======

<div class="form-style">
  <h2>Register your account</h2>
  <% include ../partials/messages %>
>>>>>>> 713aa8d394a220175a3ef057d2528bd5ea964aa6
  <form action="register" method="POST">
    <input type="text" name="firstname" placeholder="First Name" value="<%= typeof firstname != 'undefined' ? firstname : '' %>" />
    <input type="text" name="lastname" placeholder="Last Name" value="<%= typeof lastname != 'undefined' ? lastname : '' %>" />
    <input type="email" name="email" placeholder="Email" value="<%= typeof email != 'undefined' ? email : '' %>" />
    <input type="password" name="password" placeholder="password" value="<%= typeof password != 'undefined' ? password : '' %>" />
    <input type="password" name="password2" placeholder="confirm password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
    <input type="number" name="phonenumber" placeholder="phonenumber" value="<%= typeof phonenumber != 'undefined' ? phonenumber : '' %>" />
    <input type="text" name="course" placeholder="course" value="<%= typeof course != 'undefined' ? course : '' %>" />
    <input type="text" name="address" placeholder="address" value="<%= typeof address != 'undefined' ? address : '' %>" />
    <input type="submit" name="submit" placeholder="Submit" value="Submit" />
  </form>

  <p>Have an account? <a href="/users/login">Login</a></p>
</div>

<<<<<<< HEAD
<% include partials/footer %>
=======
>>>>>>> 713aa8d394a220175a3ef057d2528bd5ea964aa6
</body>
</html>
